<!DOCTYPE html>
<html>
<head>
<title>Tiny App Login</title>
</head>

<body style="font-size:20px; padding:50px;">
  <center> WELCOME TO TINY APP </center>
    <center>
      <form action="/login" method="POST">
        Email: <input type="text" name="loginEmail"><br>
        Password: <input type="password" name="loginPassword"><br>
          <input type="submit" value="Submit">
          <a href="/registration" class="register">Register Here</a>
      </form>


    </center>
</body>

</html>
