<!DOCTYPE html>
<html>
<head>

<title>Tiny App Registration</title>
</head>

<body style="font-size:20px; padding:50px;">
  <center> WELCOME TO TINY APP </center>
  <center>
    <form action="/registration" method="POST">
      Email: <input type="text" name="email">
        <br>
      Password: <input type="password" name="password">
        <br>
          <input type="submit" value="Submit">
    </form>
  </center>

</body>

</html>
