<!DOCTYPE html>
<html>
<head>
<title>Error Page</title>
</head>
<body>

<h1>Sorry Error: User Is Not Logged In</h1>

<p><a href="/registration" class="register">Register Here</a></p>

<p><a href="/login" class="userLogin">Login Here</a></p>

</body>
</html>
